body {
  width: 80%;
  margin: auto;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  margin-top: 20px;
  background-color: #e6ffe6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  }

header > h4, h1 {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

#BackButton, #NextButton {
  display: inline-block;
  padding: 5px 25px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #880707;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#BackButton:hover, #NextButton:hover {
  background-color: #5f2626;

}

#BackButton:active, #NextButton:active {
  background-color: #8b4545;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
height: 300px;
border-style: solid;
border-width: 5px;
border-radius: 10px;
border-color: black;
}
       
.List {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
}

.List > li {
  width: 40%;
  margin-bottom: 20px;
  margin-top: 10px;
}

#PhotoSection {
  padding-bottom: 40px;
}

@media all and (max-width: 800px) {
  .List {
    list-style: none;
    display: flex;
    flex-direction: column;
    }
  
  .List > li {
    width: 80%;
  }
}

 .description > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.description > a:hover {
  background-color: rgba(231, 228, 228, 0.863);
} 

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e6ffe6;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
}

footer > a {
  text-decoration: none;
  color: black;
}



footer > a:hover {
  background-color: blanchedalmond;
} 



